input {
    border: none;
    padding: 10px;
}

#userName::placeholder {
    color: #44B26F;
}

#password::placeholder {
    color: #44B26F;
}

#password {
    background-image: url(../../assets/eye.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}