.modalForm {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.modalInput {
    background-color: #fff;
    margin-bottom: 5px;
}

.formTitle {
    display: flex;
    justify-content: space-between;
}

.required {
    border: red 2px solid;
}

.fulfilled {
    border: #44B26F 2px solid;
}