.preview {
    padding: 20px;
    background-color: white;
    margin: 40px;
    color: #05BC52;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 7em;
    cursor: pointer;
}

.icon {
    color: black;
}